/* .text1{
    font-size: 17px;
    color:black;
 }
 .vl {
    border-left: 1px solid #878787;
    height: 200px;
    margin: 1%;
  }
  .v2 {
    border-left: 1px solid #878787;
    width: 200px;
  }
  .footerflip{
    font-size: 15px;
    color:gray;
  }
  .footnav{
    color: gray;
    font-size:13px;
    font-weight: 500;
  }
  .spacefoot{
    margin:1% 2%
  } */