
@keyframes openShutter {
  0% { transform: rotateX(90deg); transform-origin: top; }
  100% { transform: rotateX(0deg); transform-origin: top; }
}

@keyframes closeShutter {
  0% { transform: rotateX(0deg); transform-origin: top; }
  100% { transform: rotateX(90deg); transform-origin: top; }
}

@keyframes backgroundAnimation {
  0%, 16.67% { background-image: url('../../images/windo1.png'); }
  16.68%, 33.34% { background-image: url('../../images/window2.png'); }
  33.35%, 50% { background-image: url('../../images/window3.png'); }
  50.01%, 66.67% { background-image: url('../../images/window3.png'); }
  66.68%, 83.34% { background-image: url('../../images/window2.png'); }
  83.35%, 100% { background-image: url('../../images/windo1.png'); }
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5%;
  width: 100%;
  height: 95vh;
  background-color: #dcddde;
  background-repeat: no-repeat;
  /* background-position: center center; */
  background-position: center center;
  background-size: contain;
  animation: backgroundAnimation 12s infinite;
  overflow: hidden;
  perspective: 1000px; 
}

.shutter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #bcbec0;
  transform-origin: bottom;
  z-index: 2;
  transform-style: preserve-3d;
}

.open .shutter {
  animation: openShutter 4s forwards;
}

.closed .shutter {
  animation: closeShutter 4s forwards;
}

.window {
  position: relative;
  overflow: hidden;
  border-radius: 2vw;
  height: 19.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width:5.8vw;
}

.image {
  width: 6vw;
  height: 18.5vh;
  border-radius: 2vw;
}

@media only screen and (max-width: 932px) and (min-width: 420px){
  .window {
    
    height: 10.5vh;
    border-radius: 20px;
    width:14.3vw;
  }
  .image {
    width: 14vw;
    height: 9.7vh;
    border-radius: 20px;
  }
  .containers {
    height: 50vh;
    background-size: cover;
    gap: 18.5%;
  }
}
