.delivery-item-cover{
    height: 190px;
    width: 260px;
    /* background-color: white; */
    border-radius:8px;
}
.delivery-item-image{
    object-fit: cover;
    height:100%;
    border-radius: 8px;
}
.delivery-item-title{
    font-size: 20px;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 6px;
}
.slick-next:before,
.slick-prev:before{
    color: gray;
}
.delivery-collections{
    background-color: #f8f8f8;
    width: 100%;
    padding: 40px 0px;
}