.subscription-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust height as needed */
    background-image: url('footerbanner.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
  }
  
  /* .subscription-content {
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
  }
   */
  .subscription-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .subscription-content p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  .subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .subscription-form input {
    padding: 10px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: none;
    width: 300px;
  }
  
  .subscription-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 0 25px 25px 0;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .subscription-form button:hover {
    background-color: #0056b3;
  }
  